<div class="modal">
  <h1 mat-dialog-title>All the stories of your games</h1>
  <div mat-dialog-content>
    <p class="message" *ngIf="isEmpty">You haven't played any games yet</p>
    <app-progress-spinner *ngIf="isLoading"></app-progress-spinner>

    <mat-accordion>
      <mat-expansion-panel hideToggle class="tile" *ngFor="let history of gameHistories">
        <mat-expansion-panel-header class="tile-header">
          <mat-panel-title class="tile-title">
            The game was played on: {{ history.gameDate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p *ngIf="checkForGameWithYourself(history)">You played this game with yourself ¯\_(ツ)_/¯</p>

        <ul class="action-list" *ngIf="!checkForGameWithYourself(history)">
          <li class="action" *ngFor="let action of history.actions"
          [ngClass]="{
            'right': action.nickname !== user.nickname,
            'left': action.nickname === user.nickname}">
            <span class="action-creator">{{ action.nickname === user.nickname ? 'you' : action.nickname }}</span>:
            <span class="action-message">{{ action.action }}</span>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

