.modal {
  width: 500px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  .message {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .tile {
    margin: 1rem;

    .tile-header {
      background: #e8e8e8;
    }

    .tile-title {
      font-size: 1rem;
      font-weight: 500;
    }

    p {
      margin: .4rem 0 0 0;
    }

    .action-list {
      list-style-type: none;
      padding: 0;

      .action {
        margin: .4rem 0;

        .action-creator {
          font-size: 1.1rem;
          font-weight: 500;
        }

        .action-message {
          font-size: 1rem;
          opacity: .8;
        }

        &.right {
          text-align: right;
        }

        &.left {
          text-align: left;
        }
      }
    }
  }

  p {
    text-align: center;
    font-weight: 500;
  }
}
