.chat {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  padding: 0 1rem;

  .chat-input {
    width: 90%;
    font-size: 1.2rem;
    border: 2px double #5080ff;
    border-radius: 5px;
    outline: none;
    padding: 0.3rem 0.6rem
  }

  button {
    margin-left: .2rem;
  }

  .chat-body {
    display: flex;
    align-items: center;
  }

  ul {
    list-style-type: none;
    font-size: 1.2rem;
    color: white;
    height: 150px;
    overflow: auto;

    li {
      margin: 0.5rem 0;

      .send-time {
        color: yellow;
      }
    }
  }
}
