<div class="field">
  <div class="hint" *ngIf="gameStatus === 'preparing'">
    use the mouse wheel when the ship is over the field<br> to change its direction
  </div>
  <table class="field-grid" #field>
    <tr *ngFor="let row of player.field.shots; let i = index">
      <td class="cell" *ngFor="let cell of row; let j = index" #cell [attr.data-x]="cell.x" [attr.data-y]="cell.y"
          [ngClass]="{
          'hit': cell.status === 'hit',
          'miss': cell.status === 'miss',
          'killed': cell?.ship?.killed
          }">
        <div class="marker marker-column" *ngIf="i === 0">{{ 'ABCDEEFGHI'[j] }}</div>
        <div class="marker marker-row" *ngIf="j === 0">{{ i }}</div>
      </td>
    </tr>

    <div [cdkDragData]="ship" cdkDrag [className]="ship.direction === 'row'? 'ship ship-row-'+ship.size: 'ship ship-column-'+ship.size"
         *ngFor="let ship of player.shipsArray"
         [style.left.px]="ship.left" [style.top.px]="ship.top" (cdkDragEnded)="dragEnded($event)"
         [cdkDragDisabled]="gameStatus !== 'preparing'" (cdkDragStarted)="dragStart($event)"></div>
  </table>

  <div class="reset-ref">
    <h3>Your field</h3>
    <a *ngIf="gameStatus === 'preparing' && !isSmallScreen" (click)="resetPlayerField()">From scratch</a>
    <a *ngIf="gameStatus === 'preparing'" (click)="randomize()">Random</a>
  </div>
</div>


