<h1>Sea battle</h1>

<div class="container">
  <div class="game-status">
    <p>Status of game: <span>{{ displayGameStatus() }}</span></p>
    <p>
      <small class="players-count">Players online : {{ socketService.playersCount }}</small>
    </p>
  </div>
  <div class="game-body">
    <app-player-field></app-player-field>

    <ng-template #annunciator>
      <div class="while-game">
        <p class="annunciator" *ngIf="gameStatus === 'started'">
          {{gameService.playerTurn ? 'Your turn' : "Opponent's turn"}}
        </p>

        <button *ngIf="gameStatus === 'started'" mat-raised-button
                (click)="giveUp()">Give up
        </button>

        <button *ngIf="gameStatus === 'finished'" (click)="playAgain()"
                mat-raised-button>Play again
        </button>

        <button *ngIf="gameStatus === 'waiting_for_opponent'" (click)="cancelGame()"
                mat-raised-button>Cancel the game
        </button>
      </div>
    </ng-template>

    <ul class="options" *ngIf="gameStatus === 'preparing'; else annunciator">
      <li>
        <button [disabled]="!isPlayerReady" mat-raised-button
                (click)="callForFight()">Сall for a fight
        </button>
      </li>

      <li>
        <button [disabled]="!isPlayerReady" mat-raised-button
                (click)="takeChallenge()">Take the challenge
        </button>
      </li>

      <li>
        <button [disabled]="!isPlayerReady" mat-raised-button
                (click)="startWithRandomOpponent()">Random player
        </button>
      </li>
    </ul>

    <app-opponent-field></app-opponent-field>
  </div>

  <div class="chat" *ngIf="gameStatus === 'started'">
    <div class="chat-body">
      <input maxlength="120" class="chat-input" [(ngModel)]="message" placeholder="Chat some message">
      <button (click)="sendMessage(message)" mat-raised-button color="primary">Send</button>
    </div>

    <ul class="messages">
      <li class="messages-item" *ngFor="let message of gameService.messages">
        <span class="send-time">{{ message.split(': ')[0] }}</span>
        {{ message.split(': ')[1] }}
      </li>
    </ul>
  </div>
</div>

<div class="menu">
  <button class="logout-btn" mat-fab color="primary" (click)="logout()">
    Logout
  </button>

  <button class="history-btn" mat-fab (click)="openGameHistories()">
    History
  </button>
</div>


