.container {
  max-width: 900px;
  min-width: 400px;
  margin: 0 auto;

  .game-body {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

    .annunciator {
      font-size: 1.2rem;
      color: #fff;
      font-weight: 500;
    }

    .while-game {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      button {
        margin-bottom: 2rem;
      }
    }
  }

  .options {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    li {
      margin: .3rem 0 .6rem 0;

      button {
        width: 150px;
      }
    }
  }

  .game-status {
    text-align: center;
    font-size: 1.2rem;
    color: white;

    span {
      color: yellow;
    }

    .opponent-nickname {
      span {
        color: yellow;
      }
    }
  }
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  padding-top: 2rem;
  font-weight: 600;
  letter-spacing: .03em;
}

@media (max-width: 870px) {
  .game-body {
    align-items: center;
    flex-direction: column;
  }

  .menu {
    .history-btn {
      top: 6rem;
      right: 1rem;
    }
  }
}

