.modal {
  width: 300px;

  .key-input {
    width: 100%;
  }

  .modal-title {
    text-align: center;
  }

  .modal-actions {
    display: flex;
    justify-content: center;

    button {
      width: 100px;
    }
  }
}
