.modal {
  width: 500px;

  .modal-title {
    word-break: break-all;
    font-weight: 500;
  }

  .modal-content {
    display: flex;
    flex-direction: column;

    .form-field {
      margin-top: .2rem;
      font-size: 1.1rem;

      input {
        font-size: 1.1rem;
      }
    }

    .errors {
      display: flex;
      justify-content: flex-end;

      span {
        color: #d85252;
        font-size: .9rem;
      }
    }
  }
}
