.modal-content {
  text-align: center;
  font-size: 1.3rem;
  height: 24px;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: yellowgreen;
}

.modal-actions {
  display: flex;
  justify-content: center;

  button {
    width: 100px;
  }
}
