.ship-row-1 {
  height: 1.8rem;
  width: 1.8rem;
}

.ship-row-2 {
  width: 3.7rem;
  height: 1.8rem;
}

.ship-row-3 {
  width: 5.7rem;
  height: 1.8rem;
}

.ship-row-4 {
  width: 7.6rem;
  height: 1.8rem;
}

.ship-column-1 {
  width: 1.8rem;
  height: 1.8rem;
}

.ship-column-2 {
  height: 3.7rem;
  width: 1.8rem;
}

.ship-column-3 {
  height: 5.7rem;
  width: 1.8rem;
}

.ship-column-4 {
  height: 7.6rem;
  width: 1.8rem;
}

